extends layout

block content
    .container
        .row.header
            .twelve.columns
                h1#timer .
        .row.post
            .one-half.column.u-pull-right
                form(action='add', method='post')
                    .row
                        .six.columns.u-pull-right
                            input.u-full-width(type='text', placeholder='Your name', name='name')
                    textarea.u-pull-right.u-full-width(placeholder='Hi Lev … {words of love}', name='wish')
                    input.u-pull-right.button-primary(type='submit', value='Submit')

        for val in posts
            .row
                pre.normal-text
                    code.prettyprint.normal-text
                        p= val.wish
                        span.u-pull-right.author
                            b= val.name
            hr



    script(type='text/javascript').
        function byId(id) {
            return document.getElementById(id);
        }

        function isInteger(num) {
            return (num ^ 0) === num;
        }

        function update() {
            var t = byId('timer');
            var ts = countdown(
                    new Date('2015/12/16 12:00'),
                    null,
                    countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS,
                    null,
                    1
            );
            var output = ts.days + ' days ' +
                         ts.hours + ' hours ' +
                         ts.minutes + ' minutes ';
            if(!isInteger(ts.seconds)){
                output += ts.seconds + ' seconds';
            }else{
                output += ts.seconds + '.0 seconds';
            }

            t.innerHTML = output;

            requestAnimationFrame(update, t.parentNode);
        }

        update();